<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
</head>
<body>
    <h1>Гарячі пропозиції</h1>

    <ul> 

    {% for m in menu %}
        <li>
            <strong>Menu: {{ m.items }}</strong><br>   
            <strong>Rate: {{ m.rate }}</strong><br>     
            <form method="post" action="{% url 'upload_menu_put' menu_id=m.id %}">
                {% csrf_token %}
                <input type="hidden" name="_method" value="PUT">
            </form>   
        </li>
    {% endfor %}

    </ul>
</body>
</html>