<!DOCTYPE html>
<html>
<head>
    <title>{{ company.name }} - Restaurants</title>
</head>
<body>
    <h1>{{ company.name }} - Restaurants</h1>

    <h2>Existing Restaurants</h2>
    <ul> 
    {% for restaurant in restaurants %}
        <li>
            <strong>{{ restaurant.name }}</strong><br>
            Address: {{ restaurant.address }}<br>
            Default Menu: {{ restaurant.default_Meun }}
            <br>
            <a href="{% url 'upload_menu' restaurant.id %}">Upload Menu</a>
        </li>
    {% endfor %}
    </ul>

    <a href="{% url 'current_day_menu' %}">Сьогоднішні меню</a>
    <a href="{% url 'results_for_current_day' %}">Рейтинг</a>
    

</body>
</html>